<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <link rel = "stylesheet" href="{% static 'css/upload.css'%}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Timeline</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
         <nav>
            <div class="topnav">
                <h2>ArtNetwork</h2>
                <a href="#">Home</a>
                <div class="search-container">
                    
                      <input type="text" placeholder="Search..." name="search">
                      <input type = "submit" value="Search" class= "btn">
                    
                </div>

                <a href="/upload">Upload</a>
                <a href="#">Messages</a>
                <a href="#">Profile</a>
                
              </div>
            </nav> 


    </body>
</html>